form {
    max-width: 600px;
    margin: 10px auto;
    background-color: #e8e9ec;
    padding: 10px;
    border-radius: 2px;
}
textarea {
    width: 150px;
    min-height: 150px;
    padding: 20px;
    margin: 50px;

}

input {
    margin: 20px;
    align-items: center;
}

